<h1>Projects</h1>





<% if current_user.manager? %>
  <h1><%= link_to "Create New Project", new_project_path %></h1><br />
  <% @projects.each do |project| %>
    <% if project.users.exists?(current_user.id)%>
      <ul>
        <h2><li><%= project.title%></li></h2>
        <li>
          <%= link_to "Add or Remove a User", edit_project_path(:id => project.id) %>
        </li>
        <li>
          <%= button_to "Delete Project", project_path(:id => project.id), method: :delete, class: "btn btn-dark"%>
        </li>
      </ul>
    <% end %>
  <% end %>
<% elsif current_user.developer?%>
  <% @projects.each do |project| %>
    <% if project.users.exists?(current_user.id)%>
      <%= link_to "#{project.title}", project_path(:id => project.id) %>
    <% end %>
  <% end %>
<% else %>
  <ul>
  <% @projects.each do |project| %>
    <% if project.users.exists?(current_user.id)%>
      <li><%= project.title %></li>
    <% end %>
  <% end %>
  </ul>
<% end %>



